name: CI

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]
    types: [ 'opened', 'reopened', 'edited', 'synchronize' ]
  workflow_dispatch:

jobs:
  cancel_previous:

    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: styfle/cancel-workflow-action@a40b8845c0683271d9f53dfcb887a7e181d3918b # 0.9.1
        with:
          workflow_id: ${{ github.event.workflow.id }}

  onetrust-consent-filter-test:
    needs: cancel_previous
    runs-on: ubuntu-latest

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout source branch
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0

      - name: Grant execute permission for onetrust  gradlew
        run:  cd OneTrustConsentFilter && chmod +x gradlew

      - name: cache gradle dependencies
        uses: actions/cache@6f8efc29b200d32929f49075959781ed54ec270c # v3.5.0
        with:
          path: |
            cd OneTrustConsentFilter
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-core-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-core-

      - name: Run Onetrust Tests
        run: cd OneTrustConsentFilter && ./gradlew lib:test

      - name: Generate coverage report
        run: cd OneTrustConsentFilter && ./gradlew lib:codeCoverageReport

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@f32b3a3741e1053eb607407145bc9619351dc93b # v2.1.0
